# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Profundizacion de desarrollo\MultiProject-PPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
